.chat-input {
    border: none;
    background-color: transparent;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    margin: 0;
    padding: 0.5rem;
    color: var(--text-color);
    pointer-events: auto;

    :focus {
        outline: none;
    }

    &:focus {
        outline: none;
    }

    &:focus-visible {
        background-color: var(--focus-background-color);
    }

    &:hover {
        background-color: var(--hover-background-color);
        color: var(--hover-color);
    }

    &:disabled, &:disabled:hover, &:disabled:active {
        border-color: transparent;
        background-color: transparent;
        color: var(--disabled-color);
    }
}
